/* -------------------------------------------------------------
                    CSS specific page
------------------------------------------------------------- */

html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: 95%;
}

main h3 {
  margin: 0;
  text-align: center;
}

main h4 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 0;
  text-align: center;
}

/* ----------- SELECTION ----------------- */
main #selection {
  display: flex;
  justify-content: space-between;
}

main #selection li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  border-radius: 0.5rem;
  padding: 0.3rem;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

main #selection li:hover {
  background-color: #000;
  color: #fff;
}

main #selection li img {
  height: 2rem;
}

main #selection li p {
  margin: 0.5rem;
  font-size: 1rem;
}

/* ----------- ARTICLES ----------------- */

main article {
  border-radius: 1rem;
  margin: 0;
  display: none;
}

main article ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

main article ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 6rem;
}

main article ul li img {
  height: 5rem;
}

main article ul li p {
  font-size: 1rem;
  text-align: center;
  margin: 0rem;
}

#transverse {
  display: block;
}

main section ul #button_transverse {
  background-color: #555;
}

/* ----------- SECTION TRANSVERSE ----------------- */

.lign {
  display: flex;
}

/* ----------------------------------------------------------
                        RESPONSIVE
-----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  main {
    padding: 2rem;
  }

  main #selection {
    flex-direction: column;
    align-items: center;
  }

  main #selection li {
    width: 100%;
    margin-bottom: 0.3rem;
    justify-content: center;
  }
}
