/* -------------------------------------------------------------
                    CSS specific page
------------------------------------------------------------- */


main section {
  height: 70vh;
  margin: 0 auto;
  text-align: center;

  /* line-height: 1; */
}


footer {
  grid-row: 3 / 4;
}

/* -------------------------------------------------------------
                    RESPONSIVE specific page
------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }

  main {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
