/* -------------------------------------------------------------
                    CSS specific page
------------------------------------------------------------- */

html {
  height: 100%;
}

main {
  text-align: center;
}

main article {
  display: flex;
  justify-content: space-between;
}

main article img {
  width: 15rem;
  margin: 0 6rem auto 0;
}

main p {
  text-align: justify;
  margin: 0;
  font-size: 1.3rem;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin: 6rem auto 0;
}

main ul li {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main h1 {
  grid-row: 2 / 3;
  margin: 0;
}

/* -------------------------------------------------------------
                    RESPONSIVE specific page
------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  main article {
    flex-direction: column;
    align-items: center;
  }

  main article img {
    margin: 0 0 3rem 0;
  }

  main ul {
    flex-direction: column;
    margin: 3rem auto;
  }

  main ul li {
    width: 100%;
    margin-bottom: 2rem;
  }
}
