/* --------------------------------------------------------
                        GENERAL
----------------------------------------------------------*/

html {
  font-size: 100%;
}

body {
  font-family: "Assistant", sans-serif;
  color: white;
  height: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100% - 7.7rem);
}

h1,
h2 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 0;
}

main a {
  margin: 0 auto auto;
}

/* ----------------------------------------------------------
                        SECTIONS
-----------------------------------------------------------*/

/* ------------------- HEADER -----------------------------*/
.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-logo img {
  height: 2rem;
}

.nav-menu a:hover {
  color: #00c2ff;
}

.nav-menu {
  display: flex;
  margin: 0;
}

.nav-menu li:nth-child(1) {
  display: none;
}

.nav-menu li {
  margin-left: 2rem;
  font-size: 1.3rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* ------------------- MAIN -----------------------------*/
main {
  background-image: linear-gradient(45deg, #ffffff00, #ffffff00),
    url(../img/P1000749.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

main section {
  max-width: 1060px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  /* background: rgba(189, 50, 50, 0.596); */
}

.glass {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  background: rgba(51, 60, 61, 0.726);
}

.glass::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0 0 10000px rgb(255, 0, 0); */
  filter: blur(10px);
  margin: -20px;
}

/* ------------------- FOOTER -----------------------------*/
footer {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
}

footer ul {
  display: flex;
  margin: 0;
}

footer ul li {
  margin-left: 30px;
  line-height: 1rem;
  font-size: 1rem;
}

footer ul li img {
  height: 1.5rem;
}

/* ----------------------------------------------------------
                        CLASS
-----------------------------------------------------------*/
.btn,
.btnSelected {
  padding: 0.8rem;
  width: 11rem;
  height: 6rem;
  border-radius: 1rem;
  color: black;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.btn {
  background-color: white;
}

.btnSelected {
  background-color: #555;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btnImportant {
  background-color: #48c463;
}

/* ----------------------------------------------------------
                        RESPONSIVE
-----------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }

  main {
    padding: 2rem;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    z-index: 2;
    position: fixed;
    top: -100%;
    right: -100%;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 80%;
    transition: 0.3s;
    text-align: center;
  }

  .nav-menu li {
    font-size: 2rem;
  }

  .nav-menu li:nth-child(1) {
    display: block;
  }

  .nav-menu.active {
    right: 10%;
    top: 4.5rem;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .btn {
    padding: 0.7rem;
  }
}
