/* ----------------------------------------------------------
                        SECTIONS
-----------------------------------------------------------*/
html {
  height: 100%;
}

main {
  text-align: center;
}

main section {
  max-width: 1060px;
  margin: auto;
}

main section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main section ul li {
  background-color: #353535;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
  width: 45%;
  font-size: 1.2rem;
}

.btn {
  margin: auto;
  width: auto;
}

/* ----------------------------------------------------------
                        RESPONSIVE
-----------------------------------------------------------*/
@media screen and (max-width: 768px) {
  main section ul {
    display: flex;
    flex-direction: column;
  }

  main section ul li {
    width: 100%;
  }
}
